name: docker-build

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    environment: secrets
    steps:
      - uses: actions/checkout@v4

      - name: Check secret exists (safe)
        run: |
          if [ -z "${{ secrets.GIT_TOKEN }}" ]; then
            echo "GIT_TOKEN is EMPTY"
          else
            echo "GIT_TOKEN is PRESENT"
          fi

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          tags: test:latest
          push: false
          secrets: |
            git_token=${{ secrets.GIT_TOKEN }}
